/*********
* COLORS *
*********/

$primary: #424242;
$secondary: #0e224d;
$white: #ffffff;
$darkGrey: #a0a4ac;



$primary-header: #062350;
$secondary-header: #002171;
$header-border: #333fd3;
$header-color-text: #fafafa;


$primary-btn: #0D47A1;
$light-text-input: #fafafa;

