<a class="mdi-account mdi-light user-menu_icon"   (click)="changeMenuState()"></a>
<div class="user-menu  {{menuState}}" >
  <div class="menu-top">
    <div class="menu-top-info">
      <p class="menu-top-info_name">
        Jeff Winters
      </p>
      <p class="menu-top-info_rules">
      Administrator
      </p>
    </div>
    <div class="menu-top-button">
      <a href="#" class="menu-top-button_help mdi-help-circle-outline"> </a>
      <button class="menu-top-button_logout mdi-logout"> </button>
    </div>
  </div>
  <div class="menu-notif">
    <p class="menu-notif notif-empty">
      <span class="notif-empty_text">
      You don't have any notification
      </span>
    </p>
  </div>

</div>
